*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.card-cont{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.the-cards{
    background-color: #0d0102;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    text-align: center;
}

.the-cards .cov-head{
    animation: head 5s linear infinite;
}
.the-cards .cov-head{
    font-weight: 750;
    color: white;
    font-family: cursive;
}
@keyframes head{
    0% { transform: scale(0.97); }
    20% { transform: scale(1); }
    40% { transform: scale(0.97); }
    60% { transform: scale(1); }
    80% { transform: scale(0.97); }
    100% { transform: scale(0.97); }
}

.the-head{
    background-color: #0d0102;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
.the-head h1{
    text-align: center;
    padding-top: 75px;
    font-weight: 850;
    color: white;
    font-family: cursive;
}
.header-section{
    padding: 2rem 9rem 2rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-section .left img{
    width: 325px;
    animation: gocorona 6s linear infinite;
}


@keyframes gocorona{
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}


.my-card{
    padding: 20px 40px;
    border: 3px solid white;
    border-radius: 30px;
    margin-right: 6.5rem;
    text-align: center;
}

.my-card h1, .my-card h3{
    font-weight: 650;
    color: black;
} 

.card-1{
    background-color: #f74036;
    
}

.card-2{
    background-color: lightgreen;
}

.card-3{
    background-color: #848a81;
}

.the-medias{
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 35px;
    grid-column-gap: 70px;
}

.tab-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.tab-bg{
    padding: 2rem 0;
    background-color: whitesmoke;
}
.tab-info h3{
    margin-top: 2rem;
}

.nav-item{
    margin: 0 10px;
}

.ending{
    padding: 3rem 3rem 1rem;
    background-color: lightslategray;
    border-radius: 10px;
    box-shadow: -7px 4px 40px 16px #000000, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ending .foot-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightside p{
    font-size: 1.5rem;
}
.rightside button{
    margin-left: 2rem;
    border: 1px solid black;
}
.rightside span{
    font-weight: 850;
    text-decoration: underline;
}

.foot-second{
    margin-top: 2rem;
    text-align: center;
    font-size: larger;
}

.foot-second p a{
    font-weight: 850;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }